group Playwright
storage: none
source https://api.nuget.org/v3/index.json
//Op: NugetCleanup
nuget FSharp.Core
nuget FSharp.Data
nuget FsToolkit.ErrorHandling
nuget FsUnit
nuget FsUnit.Xunit
nuget Microsoft.Playwright
nuget ply
nuget System.Text.Encodings.Web
nuget XUnit
nuget xunit.runner.visualstudio
//Op: End


group Playwright8
storage: none
source https://api.nuget.org/v3/index.json
//Op: NugetCleanup
nuget FSharp.Core
nuget FSharp.Data
nuget FsToolkit.ErrorHandling
nuget FsUnit
nuget FsUnit.Xunit
nuget Microsoft.Playwright
nuget ply
nuget System.Text.Json
nuget XUnit
nuget xunit.runner.visualstudio